/.env
/storage/logs/*.log
/storage/private/*
!/storage/private/.gitkeep
/storage/cache/*
!/storage/cache/.gitkeep
/uploads/*
!/uploads/.gitkeep
/public/uploads/*
!/public/uploads/.gitkeep
/work/
/outputs/
/public/
*.log
*.cache
*.tmp
/.idea/
/.vscode/
.DS_Store
Thumbs.db
